@font-face {
    font-family: CaviarDream;
    src: url(../font/CaviarDreams.ttf);
}

@font-face {
    font-family: CaviarDreamBold;
    src: url(../font/CaviarDreams_Bold.ttf);
}

html {
    box-sizing: border-box;
    --duration: .7s;
}

html *,
html *::before,
html *::after {
    box-sizing: inherit;
}

body {
    margin: 0px 0px;
    padding: 0px 0px;
    background-color: #3A3680;
    -webkit-tap-highlight-color: transparent;
    transition: background-color var(--duration);
}
/*--------------------------------MENU--------------------------------------*/


.menu {
    margin: 0px 0px;
    height: 100%;
    display: block;
    flex-direction: column;
    position: fixed;
    top: 0%;
    left: 0%;
    font-size: 1.5em;
    padding: 2em 2em;
    align-items: center;
    background-color: #000;
}

.menu__item {
    all: unset;  /*on remet tout par défaut*/
    flex-grow: 1;  /*éléments flexible*/
    z-index: 100;
    display: flex;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    align-items: center;
    will-change: transform;  
    justify-content: center;
    padding: 0.55em 0 0.85em;
    transition: transform var(--timeOut, var(--duration));
}

.menu__item:nth-child(1){
    margin-top: 200%;
}

.menu__item::before {
    content: "";
    z-index: -1;
    width: 4.2em;
    height: 4.2em;
    border-radius: 50%;
    position: absolute;
    transform: scale(0);
    transition: background-color var(--duration), transform var(--duration);
}


.menu__item.active {
    transform: translate3d(0, -.8em, 0);
}

.menu__item.active::before {
    transform: scale(1);
    background-color: var(--bgColorItem);
}

.icon {
    width: 2.6em;
    height: 2.6em;
    stroke: white;
    fill: transparent;
    stroke-width: 1pt;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 400;
}

.menu__item.active .icon {
    animation: strok 1.5s reverse;

}

@keyframes strok {
    100% {
        stroke-dashoffset: 400;
    }
}

.menu__border {

    left: 0;
    bottom: 99%;
    width: 10.9em;
    height: 2.4em;
    position: absolute;
    clip-path: url(#menu);
    will-change: transform;
    background-color: var(--bgColorMenu);
    transition: transform var(--timeOut, var(--duration));

}

.svg-container {

    width: 0;
    height: 0;
}


@media screen and (max-width: 50em) {
    .menu {
        font-size: .8em;
    }
}
/*-------------------------------------MAIN---------------------------------*/
main{
    color: #fff;
}

main h1{
    font-family: CaviarDreamBold;
    font-size: 1.5em;
    text-align: center;
}

.page:nth-child(2), .page:nth-child(3){
    display: none;
}

/*---------------------------------AJOUT-------------------------------------*/
.page:nth-child(1){
    padding-left: 13%;
}

.listCarte1{
    font-family: CaviarDream;
    background-color: #1A1A1A;
    border-radius: 7px;
    width: 130px;
    margin: 0px 0px 0px 5%;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    height: auto;
    transition: height 1s ease;
}

.zoneClickCarte1{
    padding: 0px 5px 0px 5px;
}


.listCarte1 p{
    text-align: left;
    margin: 0px 0px;
}

.listCarte1:hover .zoneClickCarte1 p {
    color: #8a88b9;
}

.listCarte1 .burgerListeCarte {
    position: relative;
    right:  -85%;
    bottom: 10px;
    margin: 0px 0px;
}

.listCarte1 .burgerListeCarte span {
    width: 16px;
    height: 2px;
    background-color: #ffffff;
    display: block;
    border-radius: 15px 15px;
    transition: background-color 0.5s ease-in-out;
    margin: 0px 0px;
    padding: 0px 0px;
}

.listCarte1:hover span{
    background-color: #8a88b9;
}

.listCarte1.open .burgerListeCarte span:nth-child(2) {
    background-color: transparent;
}

.listCarte1 .burgerListeCarte span:nth-child(1){
    transform: translateY(-3px);
    transition: transform 0.5s ease-in-out;
}

.listCarte1 .burgerListeCarte span:nth-child(3) {
    transform: translateY(3px);
    transition: transform 0.5s ease-in-out;
}


.listCarte1.open .burgerListeCarte span:nth-child(1) {
    transform: translateY(4px) rotateZ(45deg);
    transition: .7s;
}

.listCarte1.open .burgerListeCarte span:nth-child(3) {
    transform: translateZ(-4px) rotate(-45deg);
    transition: .7s;
}

.listCarte1 ul{
    text-align: center;
    list-style: none;
    opacity: 1;
    font-size: .9em;
    margin: 10px 0px;
    padding: 0px 0px;
    line-height: 85%;
}

.listCarte1 ul p{
    text-align: center;
    margin: 0px 5px;
    padding: 3px;
    transition: background-color 0.4s ease-in-out;
}


.listCarte1 .cartes:hover p,
.listCarte1 .cartes.select p{
    background-color: rgb(173, 171, 171);
    color: #000;
    border-radius: 10px;
}

.cartes .signe {
    overflow: hidden;
    height: 0px;
    transition: height 0.3s ease-in-out;
    padding-top: 5px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.cartes.select .signe{
    height: 50px;
}

.cartes img{
    height: 0px;
    border-radius: 4px 4px 4px 4px;
    border: solid 1px #0000;
} 

.cartes .signe img:nth-child(1){
    transition: height 0.2s ease-in-out;
}
.cartes .signe img:nth-child(2) {
    transition: height 0.4s ease-in-out;
}
.cartes .signe img:nth-child(3) {
    transition: height 0.6s ease-in-out;
}
.cartes .signe img:nth-child(4) {
    transition: height 0.8s ease-in-out;
}

.cartes.select .signe img{
    height: 35px;
}

.cartes.select .signe img:hover{
    transition: all 200ms ease-in;
    transform: scale(1.2);
    z-index: 2;
}
